black
coverage
ipython
pandas-stubs
pre-commit
pylint
pytest
pytest-forked
pytest-socket
pytest-timeout
pytest-xdist
rope
ropemode
ropevim
snakeviz
types-PyYAML
typing-extensions
urllib3-mock
virtualenv
types-requests
flaky
openai
