attrs==21.2.0
black==21.10b0
click==8.0.3
coverage
distlib==0.3.6
execnet==1.9.0
identify==2.5.6
iniconfig==1.1.1
ipython
mypy-extensions==0.4.3
packaging==21.2
pandas-stubs==1.5.2.221124
pathspec==0.9.0
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.20.0
py==1.11.0
pylint==2.15.8
pyparsing==2.4.7
pytest==7.2.0
pytest-forked==1.3.0
pytest-socket==0.4.1
pytest-timeout
pytest-xdist==2.4.0
regex==2021.11.2
rope==0.21.0
ropemode==0.5
ropevim==0.8.1
snakeviz==2.1.1
toml==0.10.2
tomli==1.2.2
tornado==6.1
types-PyYAML==6.0.0
typing-extensions==3.10.0.2
urllib3-mock==0.3.3
virtualenv==20.16.5
types-requests
