aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
asyncore-wsgi==0.0.11
attrs==23.1.0
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
colorlog==6.7.0
dateparser==1.1.8
epdb==0.15.1
filelock==3.12.4
Flask==2.3.3
frozenlist==1.4.0
gevent==23.9.1
greenlet==3.0.0rc3
gunicorn==21.2.0
idna==3.4
importlib-metadata==6.8.0
intervaltree==3.1.0
isal==1.3.0
itsdangerous==2.1.2
Jinja2==3.1.2
lz4==4.3.2
MarkupSafe==2.1.3
multidict==6.0.4
mypy==1.5.1
mypy-extensions==1.0.0
networkx==3.1
numpy==1.26.0
packaging==23.1
pandas==2.1.1
pycryptodome==3.19.0
pyrate-limiter==3.1.0
python-binance==1.0.19
python-dateutil==2.8.2
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
pyzmq==25.1.1
regex==2023.8.8
requests==2.31.0
six==1.16.0
sortedcontainers==2.4.0
ta==0.10.2
TA-Lib==0.4.28
tag==0.5
tenacity==8.2.3
toml==0.10.2
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.0.1
udatetime==0.0.17
ujson==5.8.0
urllib3==2.0.5
websockets==11.0.3
Werkzeug==2.3.7
yarl==1.9.2
zipp==3.17.0
zope.event==5.0
zope.interface==6.0
